.image-box {
  margin: 10%;
  padding: 0%;
}
.description-container {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: larger;
  font-weight: 200;
  height: 100px;
}

a:hover {
  cursor: pointer;
  text-decoration: none;
  color: white;
  list-style: none;
  font-weight: 1000;
}

.link {
  text-decoration: none;
  list-style: none;
  color: white;
  font-size: larger;
  font-weight: 400;
}
