.nav-bar-container {
  color: red;
  font-size: 50px;
  display: flex;
  justify-content: space-around;
  // border: 70px solid rgba(255, 0, 0, 0.5);
  margin-bottom: 50px;
  .right {
    color: black;

    ul {
      text-decoration: none;
      color: black;
      list-style-type: none;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;

      li {
        text-decoration: none;
        padding: 10px;

        .nav-link {
          text-decoration: none;
          color: black;
        }
      }
    }
    .nav-link:hover {
      font-weight: 600;
    }
  }

  .left {
    color: black;
  }
}
